#leftButton {
	float: left;
}

#rightButton {
	float: right;
}

#checkMark {
	max-width: 25px;
	float: right;
}

ul {
	margin-left: 40px;
	
}

h3 {
	padding-top: 10px;
  }

h2 {
	padding-top: 10px;
  }